/*
 * General  *** Do not change here ***
 */

html, body, div, p, h1, h2, h3, h4, h5, h6,
header, nav, button, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #242424;
  font-family: Roboto, "Sawarabi Gothic", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
    color: #242424;
    text-decoration: none;
}

/*
 * Navbar
 */

/*
 * Header
 */

/*
 * Content
 */
 .content {
     display: flex;
     flex-wrap: wrap;
 }

 .content h4, .content .icon, .content p {
     width: 100%;
 }

.content h4 {
    font-style: italic;
    color: tomato;
}

.content .icon {
    order: -1;
    text-align: center;
    color: tomato;
}

.icon i {
    font-size: 50px;
}

.content p {
    border: 2px solid tomato;
    border-radius: 16px;
    margin: 0 5px;
    padding: 5px 10px;
}

.vocabulary {
    display: block;
    background-color: #ffb366;
    margin: 5px 20px;
    padding: 3px 18px 3px 13px;
    border-radius: 10px;
    position: relative;
}

.vocabulary.close {
    display: none;
}

.vocabulary p {
    display: inline;
}

.vocabulary span {
    background-color: #fff;
    border: 2px solid tomato;
}

.fa-times {
    position: absolute;
    top: -16px;
    right: -10px;
    padding: 18px;
    color: tomato;
}

/*
 * Navigator
 */

/*
 * footer
 */
